<div class="container-fluid">
    <div class="row h-100">
        <div class="col-12 p-0">
            <div cdkDropListGroup class="overflow-x-auto w-100 h-100 d-flex">
                <div class="col-4 col-md-6 p-3 " *ngFor="let boardState of boardStates; index as i">
                    <div class="border state-wrapper h-100">
                        <div class="state-header p-3 w-100 font-weight-bold">
                            {{boardState}} ({{boardTasks | filterArrayCount:i}})
                        </div>
                        <div cdkDropList [cdkDropListData]="boardTasks | filterArray:i" (cdkDropListDropped)="drop($event)" id="cdkDropList-{{i}}" stateId="{{i}}" class="state-content p-3">
                            <div cdkDrag [cdkDragData]="boardTask" *ngFor="let boardTask of boardTasks;">
                                <div class="board-task w-100 mb-3 p-3" *ngIf="i === boardTask.stateId" id="{{boardTask.taskId}}">
                                    <div class=" d-flex justify-content-between">
                                        <div class="board-task-title font-weight-bold pr-1">{{boardTask.title}}</div>
                                        <div class="board-task-type font-weight-bold pl-1">{{boardTask.type}}</div>
                                    </div>    
                                    <div class="board-task-description">{{boardTask.description}}</div>
                                    <div class="d-flex justify-content-end">
                                        <div class="board-task-assignee">{{boardTask.assignee}}</div>
                                    </div>    
                                    <div class="d-flex justify-content-end mt-3">
                                        <button class="btn btn-link mr-2" (click)="onEdit($event)">Edit</button>
                                        <button class="btn btn-warning" (click)="onDelete($event)">Delete</button>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>